doctype 5
html(lang="en")
  head
    meta(charset="utf-8")

    title Open Source, Rubies & Rails

    meta(name="description", content="Open Source, Rubies & Rails")
    meta(name="author", content="Генади Самоковаров")

    link(rel="stylesheet", href="vendor/reveal.js/css/reveal.css")
    link(rel="stylesheet", href="vendor/reveal.js/css/theme/simple.css")
    link(rel="stylesheet", href="vendor/github.css")

    style.
      .reveal,
      .reveal h1,
      .reveal h2,
      .reveal h3,
      .reveal h4,
      .reveal h5,
      .reveal h6 { font-family: Palatino, Georgia, serif; }

      .reveal h1 { font-size: 2.2em; text-shadow: none; }
      .reveal h2 { font-size: 1.9em; }
      .reveal h3 { font-size: 1.8em; }
      .reveal h4 { font-size: 1.5em; }
      .reveal h5 { font-size: 1.2em; }

      .reveal .white { color: #FFFFFF; }
      .reveal .big { font-size: 1.9em; }

      .reveal pre.inline { box-shadow: none; }
      .reveal img.inline { background: transparent; border: 0; box-shadow: none; margin: 0; vertical-align: middle; }
      .reveal a:hover img.inline { background: transparent; border: 0; box-shadow: none; }

      .reveal a.image { text-decoration: none; }

      .reveal .hidden { visibility: hidden; }

      .reveal .spin:hover { -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }

      @-moz-keyframes spin {
        0%   { -moz-transform: rotate(0deg); }
        100% { -moz-transform: rotate(359deg); }
      }
      @-webkit-keyframes spin {
        0%   { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(359deg); }
      }
      @-o-keyframes spin {
        0%   { -o-transform: rotate(0deg); }
        100% { -o-transform: rotate(359deg); }
      }
      @-ms-keyframes spin {
        0%   { -ms-transform: rotate(0deg); }
        100% { -ms-transform: rotate(359deg); }
      }
      @keyframes spin {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(359deg); }
      }
  body
    div.reveal
      div.slides
        section
          h2 Open Source, Rubies & Rails
          p: small
            <a href=http://gsamokovarov.com>Генади Самоковаров</a> / <a href=https://twitter.com/gsamokovarov>@gsamokovarov</a>

        section(data-background="#000000")
          p(align="center")
            a(href="http://gsamokovarov.com"): img(class="inline spin" src="img/me.png")

        section
          section(data-background="#000000")
            img.inline(src="img/gsoc2013.jpg")

          section(data-transition="none")
            h2 Накратко
            p.
              <span class=fragment>Google дава пари ($5000) на студенти да работят върху Open Source софтуер.</span>

          section(data-transition="none")
            h2 Накратко
            p.
              Open Source организаци кандидатстват за кворум студенти.

          section(data-transition="none")
            h2 Накратко
            p.
              Студенти кандидатстват за тези места с идея за подобрение.

          section(data-transition="none")
            h2 Накратко
            p.
              Всеки приет студент има ментор от Open Source организацията.

          section(data-transition="none")
            h2 Накратко
            p.
              Ruby on Rails за първа година <em>(2013)</em> е официално в програмата.

          section(data-transition="none")
            img.inline(src="img/knx.jpg")
            p.fragment Ruby организацията e отхвърляна няколко пъти.

          section(data-transition="none")
            img.inline(src="img/knx.jpg")
            p Включително и тази година.

          section(data-transition="none")
            img.inline(src="img/knx.jpg")
            p JRuby, SciRuby и Ruby on Rails са в програмата.

          section
            img.inline(src="img/dafuq.png")

          section
            a(href="http://rubysummerofcode.org/"): img.inline(src="img/rsoc.png")

          section(data-transition="none")
            h2 Бюрокращина
            p.fragment.
              Като цяло е малко.

          section(data-transition="none")
            h2 Бюрокращина
            p.
              За да няма <em>'зимане, даване</em> има две оценки.

          section(data-transition="none")
            h2 Бюрокращина
            p.
              Една в средата на програмата и една накрая.

          section(data-transition="none")
            h2 Бюрокращина
            p.
              88.6% от тазгодишните студенти са преминали успешно.

          section(data-transition="none")
            img.inline(src="img/knx.jpg")
            p.fragment Трябва да сте студент навършил 18 години, за да можете да участвате.

          section(data-transition="none")
            img.inline(src="img/knx.jpg")
            p Парите се дават като стипендия, която не се облага с данъци.

          section
            img.inline(src="img/gsoc2014.jpg")

          section(data-transition="none")
            img.inline(src="img/knx.jpg")
            p.fragment.
              Провежда се за десети пореден път.

          section(data-transition="none")
            img.inline(src="img/knx.jpg")
            p.
              Дават повече пари<span class=fragment>, $5500.</span>

        section
          h2 За какво <strong>няма</strong> да говоря?
          p.fragment.
            Технически неща<span class=fragment>, включителнo за Ruby</span> <span class=fragment>и Rails.</span>

        section(data-background="#000000")
          img.inline(src="img/troll.png")

        section(data-transition="none")
          h2 Lessons Learnt Developing Open Source Software
          p: small
            <a href=http://gsamokovarov.com>Генади Самоковаров</a> / <a href=https://twitter.com/gsamokovarov>@gsamokovarov</a>

        section(data-transition="none")
          h2 or: How I Learned to Stop Worrying and Ship
          p: small
            <a href=http://gsamokovarov.com>Генади Самоковаров</a> / <a href=https://twitter.com/gsamokovarov>@gsamokovarov</a>

        section
          a.big(href="http://github.com/rails/web-console") rails/web-console

        section(data-background="#000000")
          h2.white Прелюдия

        section(data-transition="fade")
          img.inline(src="img/radiator.img")

        section(data-transition="fade")
          img.inline(src="img/dnmc6000.png")

        section
          section(data-background="#000000")
            h2.white.
              Ko<span class=fragment>нтекст</span>

          section
            a(href="http://www.vt100.net"): img.inline(src="img/vt100.png")

          section(data-background="#000000")
            img.inline(src="img/bored.gif")

        section
          section(data-background="#000000")
            h2.white Време

          section
            a.big(href="http://xn--90afgi4cs7d.com/") #джитхюб

          section
            img.inline(src="img/rails.png")

          section(data-transition="none")
            h2 Факт
            p.fragment Имате ограничено време.

          section(data-transition="none")
            h2 Идея
            p.fragment Не го прахосвайте.

          section(data-transition="none")
            h2 Идея
            p Направете си режим.

          section(data-transition="none")
            h2 Идея
            p Спазвайте го!

          section
            img.inline(src="img/pomodoro.jpg")

        section
          section(data-background="#000000")
            h2.white Комуникация

          section(data-transition="none")
            h2 Идея
            p.fragment Бъдете проактивни.

          section(data-transition="none")
            h2 Идея
            p Комуникирайте от рано.

          section(data-transition="none")
            h2 Идея
            p Комуникирайте често.

          section(data-transition="none")
            h2 Идея
            p Дефинирайте изискванията.

          section(data-transition="none")
            h2 Идея
            p Бъдете готови те да се променят.

          section(data-transition="none")
            h2 Идея
            p T.е., итерирайте.

          section
            img.inline(src="img/tolerate.jpg")

          section(data-transition="none")
            h2 Етикет
            p.fragment Бъдете толерантни.

          section(data-transition="none")
            h2 Етикет
            p Бъдете мили.

          section(data-transition="none")
            h2 Етикет
            p Казано на Български.

          section(data-transition="none")
            h2 Етикет
            p Не се правете.

        section
          section(data-background="#000000")
            h2.white Странностти

          section
            a(href="http://youtu.be/K3CHi_9sxj0"): img.inline(src="img/strange.jpg")

          section(data-background="#000000")
            h2.white NIH

          section(data-transition="none")
            h2 Да
            p.fragment.
              Когато ще бъде <strong>много</strong> по-просто.

          section(data-transition="none")
            h2 Да
            p.
              Когато ще има <strong>драстично</strong> нова фунционалност.

          section(data-transition="none")
            h2 Да
            p.
              Когато има <strong>легален</strong> проблем.

          section(data-transition="none")
            h2 Да
            p.
              <em>Интересно ми е, искам да се науча.</em>

          section
            h2 Не
            p.fragment
              <em>Не насилвайте потребителите да го използват.</em>

          section(data-background="#000000")
            h2.white Собственост

          section(data-transition="none")
            h2 Мнение
            p.fragment Ако искате хора да допринасят към проекта...

          section(data-transition="none")
            h2 Мнение
            p ... поттиснете чувството за собственост.

          section(data-transition="none")
            h2 Мнение
            p Приемете, че проекта е на общността!

          section(data-background="#000000")
            h2.white Твърдоглавост

          section
            h2 Мнение
            p.fragment.
              Не всичките <a href="https://github.com/rails/rails/pull/11962">идеи</a> ще минават.

          section
            img.inline(src="img/yolo.png")

          section(data-background="#000000")
            h2.white Перфекционизъм

          section
            img.inline(src="img/warning.png")

          section(data-background="#000000")
            p.big.white Няма перфектен софтуер!

          section(data-background="#000000")
            p.big.white Релийсвайте рано!

          section(data-background="#000000")
            p.big.white Релийсвайте често!

        section
          section(data-background="#000000")
            h2.white Продуктивност

          section
            img.inline(src="img/automate.jpg")

          section
            h2 Идея
            p.fragment.
              Качете си . файловете в <a href=https://github.com/gsamokovarov/.files>джитхюб</a>.

          section(data-transition="none")
            a(href="https://github.com/gsamokovarov/.files"): img.inline(src="img/dotfiles.jpg")

          section
            img.inline(src="img/fun.jpg")

        section(data-background="img/flow.gif")

    script(src="vendor/reveal.js/lib/js/head.min.js")
    script(src="vendor/reveal.js/js/reveal.js")

    script.
      Reveal.initialize({
        controls: false,
        progress: false,
        history: true,
        center: true,
        rollingLinks: true,
        transition: 'linear',
        backgroundTransition: 'none',
        dependencies: [
          {
            src: 'vendor/reveal.js/plugin/highlight/highlight.js',
            async: true,
            callback: function() {
              hljs.initHighlightingOnLoad();
            }
          }
        ]
      });
  </body>
</html>
